{% extends 'base.html.twig' %}

{% block title %}Apropos de nous{% endblock %}

{% block body %}
    <div class="container">
        <h2>A propos de nous</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, deleniti enim error impedit in ipsa ipsam iure magnam minus, natus optio perferendis quidem recusandae reiciendis reprehenderit saepe sed sunt voluptate!</p>
    </div>
{% endblock %}

