{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <h2>Bienvenue</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quasi recusandae saepe similique sint suscipit velit vero. Ab commodi eaque eos, ipsam ipsum magnam perspiciatis placeat, quas quia quis repellat.</p>
{% endblock %}