{% extends 'base.html.twig' %}

{% block title %}Wish List{% endblock %}

{% block body %}
    <div class="container">

        <ul>
            <li>wish 1 </li>
            <li>wish 2 </li>
            <li>wish 3 </li>
        </ul>
    </div>
{% endblock %}



