{% extends 'base.html.twig' %}

{% block title %}Wish List{% endblock %}

{% block body %}
    <div class="container">
        <ul>
            <li>souhait 1 </li>
            <li>souhait 2 </li>
            <li>souhait 3 </li>
        </ul>
    </div>
{% endblock %}



