{% extends 'base.html.twig' %}

{% block title %}Wish List{% endblock %}

{% block body %}
    <div class="container">
        <h2>All wishes</h2>
        {% for wish in wishes %}
            <div>
                <ul>
                    <li><a href="{{ path('wish_detail',{id: wish.id}) }}">{{wish.titre}}</a></li>
                    <div>Published at {{ wish.dateCreated |date("d/m/Y à H:i") }}</div>
                </ul>
            </div>
        {% else %}
            <div>Nothing to see here! </div>
        {% endfor %}

    </div>
{% endblock %}



